* {
    outline: dotted 1px orange;
}

body {
    font-family: sans-serif;
    background: url("img/PREVIEW.jpg") no-repeat top center;
    height: 1970px;
}

header {
    width: 900px;
    margin: auto;
    padding: 35px 50px 27px;
    display: flex;
}

#logo {
    display: inline-block;
}

.wordmark {
    display: inline-block;
    vertical-align: top;
}

#social-links {
    display: inline-block;    
    align-self: flex-end;
}

#social-links > li {
    display: inline-block;
}

hr {
    background-image: url("img/hr-img.png");
    display: block;
    height: 10px;
    width: 900px;
    margin: 0 auto;
}

main {
    width: 900px;
    margin: auto;
}

.hero {
    margin-top: 60px;
    position: relative;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 45px;
}

.hero > h4 {
    display: inline-block;
}

.hero > a {
    float: right;
}

.hero > img {
    clear: both;
    margin: auto;
    margin-top: 25px;
    width: 900px;
}

article > p {
    margin-top: 35px;
    text-indent: 30px;
    font-family: "Georgia", serif;
    letter-spacing: 0.1px;
    font-size: 17px;
    line-height: 24px;
    color: #595556;
}

#recipe {
    margin-top: 35px;
    background: url("img/list-bg.png");
    font-family: 'Patrick Hand', cursive;
}