* {
    /* outline: dotted 1px orange; */
}

body {
    font-family: sans-serif;
    background: url("img/PREVIEW.jpg") no-repeat top center;
    height: 1970px;
}

header {
    width: 900px;
    margin: auto;
    padding: 35px 50px 27px;
    display: flex;
}

#logo {
    display: inline-block;
}

.wordmark {
    display: inline-block;
    vertical-align: top;
}

#social-links {
    display: inline-block;    
    align-self: flex-end;
}

#social-links > li {
    display: inline-block;
}

hr {
    background-image: url("img/hr-img.png");
    display: block;
    height: 10px;
    width: 900px;
    margin: 0 auto;
}

main {
    width: 900px;
    margin: auto;
}

.hero {
    margin-top: 60px;
    position: relative;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    letter-spacing: -0.6px;
    color: #222;
}

.hero > h4 {
    display: inline-block;
    margin-top: 7px;
    font-family: 'Abel', sans-serif;
    color: #a5a5a5;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: -0.2px;
}

.hero > a {
    float: right;
    margin-top: 7px;
    background: url("img/print-icon.png") left center no-repeat;
    padding-left: 14px;
    font-family: 'Abel', sans-serif;
    color: #a5a5a5;
    font-size: 14px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    text-decoration: none;
}

.hero > img {
    clear: both;
    margin: auto;
    margin-top: 25px;
    width: 900px;
}

article > p {
    margin-top: 35px;
    text-indent: 30px;
    font-family: "Georgia", serif;
    letter-spacing: 0.1px;
    font-size: 17px;
    line-height: 24px;
    color: #595556;
}

#recipe {
    margin-top: 40px;
    /* background: url("img/list-bg.png"); */
    font-family: 'Patrick Hand', cursive;
    height: 230px;
    color: #756750;
    padding: 35px 50px;
    font-size: 22px;
}

li {
    padding: 2.5px 10px;
}

input {
vertical-align: middle;
    margin-right: 10px;
}

article > hr {
    margin-top: 40px;
}

#author {
    margin-top: 20px;
    display: inline-block;
}